# By default the following will be the code owners for everything in the repo,
# unless a later match takes precedence.
*                                             @manadart @SimonRichardson

# Application (and charm) domain packages
/core/charm/**                                @SimonRichardson @nvinuesa @jack-w-shaw
/internal/charm/**                            @SimonRichardson @nvinuesa @jack-w-shaw
/domain/application/**                        @SimonRichardson @nvinuesa @jack-w-shaw
/internal/worker/asynccharmdownloader/**      @SimonRichardson

# Network domain packages
/domain/network/**                            @manadart @nvinuesa

# External controller domain packages
/domain/externalcontroller/**                 @manadart @nvinuesa

# Resource domain packages
/core/resource/**                             @manadart @gfouillet
/domain/resource/**                           @manadart @gfouillet
/internal/resource/**                         @manadart @gfouillet

# Relation domain packages
/core/relation/**                             @manadart @gfouillet
/domain/relation/**                           @manadart @gfouillet

# Removal
/internal/worker/removal/**                   @manadart
/domain/removal/**                            @manadart

# Docs
/docs                                         @tmihoc
