# Core database packages
/core/changestream/**                         @manadart @SimonRichardson
/core/database/**                             @manadart @SimonRichardson
/core/watcher/**                              @manadart @SimonRichardson
/internal/database/**                         @manadart @SimonRichardson
/internal/worker/dbaccessor/**                @manadart @SimonRichardson
/internal/worker/changestream/**              @manadart @SimonRichardson
/internal/worker/changestreampruner/**        @manadart @SimonRichardson

# Lease management packages
/internal/worker/lease/**                     @manadart
/internal/worker/leaseexpiry/**               @manadart

# REPL worker
/internal/worker/dbrepl/**                    @manadart @SimonRichardson @jack-w-shaw
/internal/worker/dbreplaccessor/**            @manadart @SimonRichardson @jack-w-shaw

# Charmhub
/internal/charmhub/**                         @hmlanigan @SimonRichardson @nvinuesa @jack-w-shaw

# Model domain packages
/core/model/**                                @tlm
/domain/model/**                              @tlm
/domain/modelconfig/**                        @tlm

# Macaroons
/internal/macaroon/**                         @manadart @jack-w-shaw
/domain/macaroon/**                           @manadart @jack-w-shaw

# Juju controller
/cmd/jujud-controller/**                      @manadart @SimonRichardson

# Application (and charm) domain packages
/core/charm/**                                @SimonRichardson @nvinuesa @jack-w-shaw
/internal/charm/**                            @SimonRichardson @nvinuesa @jack-w-shaw
/domain/application/**                        @SimonRichardson @nvinuesa @jack-w-shaw
/internal/worker/asynccharmdownloader/**      @SimonRichardson

# Network domain packages
/domain/network/**                            @manadart @nvinuesa

# External controller domain packages
/domain/externalcontroller/**                 @manadart @nvinuesa

# Resource domain packages
/core/resource/**                             @hmlanigan @gfouillet
/domain/resource/**                           @hmlanigan @gfouillet
/internal/resource/**                         @hmlanigan @gfouillet

# Relation domain packages
/core/relation/**                             @hmlanigan @gfouillet
/domain/relation/**                           @hmlanigan @gfouillet

# Cross model relation domain packages
/domain/crossmodelrelation/**                 @SimonRichardson
/internal/worker/remoterelationconsumer/**    @SimonRichardson
/internal/worker/remoterelationofferer/**     @SimonRichardson

# Removal
/internal/worker/removal/**                   @manadart
/domain/removal/**                            @manadart
