_build/
_deps*/
cmd/juju/juju
cmd/jujud/jujud
cmd/builddb/builddb
cmd/charmd/charmd
cmd/charmload/charmload
tests/test-*
tags
!tags/
TAGS
!TAGS/
parts/
prime/
stage/
vendor/
*.snap
.emacs.desktop
.emacs.desktop.lock
*.test
*.test.exe
*.sw[nop]
.idea/
*.pyc
.vscode/
juju-backup-*.tar.gz
.editorconfig
scripts/mgo-run-txn/mgo-run-txn
tests/tmp.*
*.out
*.charm
*.bundle
*.log
dqlite-deps.tar.bz2
.sphinx
.envrc
.spread-reuse*