_build/
_deps*/
!tags/
!TAGS/
.editorconfig
.emacs.desktop
.emacs.desktop.lock
.idea/
.vscode/
*.bundle
*.charm
*.log
*.out
*.pyc
*.snap
*.sw[nop]
*.test
*.test.exe
cmd/builddb/builddb
cmd/charmd/charmd
cmd/charmload/charmload
cmd/juju/juju
cmd/jujud/jujud
dqlite-deps.tar.bz2
juju-backup-*.tar.gz
parts/
prime/
scripts/mgo-run-txn/mgo-run-txn
snap/
stage/
tags
TAGS
tests/test-*
tests/tmp.*
vendor/