<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link
       rel="stylesheet"
       href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
       integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
       crossorigin="anonymous">

    <!-- Optional theme -->
    <link
       rel="stylesheet"
       href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
       integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
       crossorigin="anonymous">

    <title>Simple performance/scale reporting</title>

  </head>
  <body role="document">
    <div class="container" role="main">

      <div class="page-header">
        <h1>Test outline</h1>
      </div>
      <ul>
        <li>Run a simple bootstrap</li>
        <li>Deploying charm: 'cs:bundle/wiki-simple-0'</li>
      </ul>

      <div class="page-header">
        <h2>Timings</h2>
      </div>

      <blockquote>
        <p>
          Breakdown of start and end times of an action (i.e. either
          bootstrapping or deploying a charm).
        </p>
      </blockquote>

      <table class="table">
        <tr>
          <th>Action</th>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
        </tr>
        <tr>
          <td>Bootstrap</td>
          <td>{{deployments.bootstrap.start}}</td>
          <td>{{deployments.bootstrap.end}}</td>
          <td>{{deployments.bootstrap.seconds}} Seconds</td>
        </tr>
        {% for deploy in deployments.deploys %}
        <tr>
          <td>Deploy {{deploy.name}}</td>
          <td>{{deploy.timings.start}}</td>
          <td>{{deploy.timings.end}}</td>
          <td>{{deploy.timings.seconds}} Seconds</td>
        </tr>
        <tr>
          <td colspan=4>
            Units
            <ul>
              {% for name in deploy.applications.keys() %}
              <li><b>{{name}}:</b> {{deploy.applications[name]}}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td>Cleanup/Delete</td>
          <td>{{deployments.cleanup.start}}</td>
          <td>{{deployments.cleanup.end}}</td>
          <td>{{deployments.cleanup.seconds}} Seconds</td>
        </tr>
      </table>

      <div class="page-header">
        <h1>Controller system metrics</h1>
      </div>

      <blockquote>
        <p>
          System metrics are collected on the api-server(s) during the deployment
          of charms. No metrics are collected during the bootstrap process.
        </p>
      </blockquote>

      <h2>CPU Usage</h2>
      <img src="file://{{cpu_graph}}" alt="CPU Usage Graph" />

      <h2>Memory Usage</h2>
      <img src="file://{{memory_graph}}" alt="Memory Usage Graph" />

      <h2>Swap Usage</h2>
      <img src="file://{{swap_graph}}" alt="Swap Usage Graph" />

      <h2>Network Usage</h2>
      <img src="file://{{network_graph}}" alt="Network Usage Graph" />

      <h2>MongoDB Statistics</h2>
      <img src="file://{{mongo_graph}}" alt="MongoDB Details Graph" />

      <div class="page-header">
        <h1>Log Breakdown</h1>
      </div>
      <blockquote>
        <p>
          Table of the relevent log broken down into 20 sec blocks (to match up
          with the graph granularity).
        </p>
      </blockquote>

      {% for date_stamp, values in log_message_chunks|dictsort %}
      <table class="table table-condensed">
        <tr class="success">
          <th>This will be named (Bootstrap/Deploy/Delete etc.)</th>
          <th>{{date_stamp}}</th>
        </tr>
        {% for log_detail in values|sort(attribute='timeframe') %}
        <tr class="active">
          <td colspan=2>
            <small>
              {{log_detail.timeframe}}
            </small>
          </td>
        </tr>
        <tr>
          <td colspan=2>
            <small>
            {{log_detail.message}}
            </small>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}

    </div>
  </body>
</html>
