(cli)=
<!---
This stub is the index file for the cli reference, the contents table below is
populated by the code in custom_conf.py on make doc-build
-->
# CLI reference

Juju supports the following commands:
```{toctree}
:titlesonly:
:glob:
