#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
define service {
    use                             active-service
    host_name                       {{ nagios_hostname }}
    service_description             {{ nagios_hostname }} {{ check.description }}
    check_command                   check_nrpe!check_{{ check.shortname }}
    servicegroups                   {{ nagios_servicegroup }}
}
