# from upstream:
canonical-sphinx[full]
packaging
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinx-last-updated-by-git
sphinx-sitemap

# our own:
sphinx-autobuild
sphinx-tabs
sphinxext-rediraffe
sphinx-new-tab-link
sphinxcontrib.lightbox2
