name: "Build"
on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: [self-hosted, linux, "${{ matrix.platform.host_arch }}", aws, xxlarge]
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { os: linux, arch: amd64, host_arch: x64 }
          - { os: linux, arch: arm64, host_arch: arm64 }
# Until we get rid of musl, lets just disable these to save build time.
#          - { os: linux, arch: s390x }
#          - { os: linux, arch: ppc64le }
          - { os: darwin, arch: arm64, host_arch: arm64 }

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Set up Go"
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: false

      - name: "Build"
        run: |
          GOOS=${{ matrix.platform.os }} GOARCH=${{ matrix.platform.arch }} make go-build
