name: "Client Tests"
on: 
  push:
    paths-ignore:
      - 'acceptancetests/**'
      - 'doc/**'
      - 'snap/**'
      - 'testcharms/**'
      - 'testing/**'
      - 'tests/**'
  pull_request:
    paths-ignore:
      - 'acceptancetests/**'
      - 'doc/**'
      - 'snap/**'
      - 'testcharms/**'
      - 'testing/**'
      - 'tests/**'

jobs:

  test-client-ubuntu:
    name: "Client Tests"
    runs-on: ${{ matrix.os }}
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        # macOS-latest is disabled because there is an issue of the tests timing
        # out. No effort has been done to work out why they currently timeout
        # on macOS, but we should investigate that to improve our coverage on
        # other clients.
        # To turn on macOS, just update the os to include it.
        # os: [ubuntu-latest, macOS-latest, windows-latest]
        os: [ubuntu-latest, macOS-latest]

    steps:

    - name: Set up Go 1.17
      uses: actions/setup-go@v2.1.5
      with:
        go-version: 1.17
      id: go

    - name: Checkout
      uses: actions/checkout@v2

    - name: "Install Mongo Dependencies: ubuntu-latest"
      if: (matrix.os == 'ubuntu-latest')
      run: |
        # Remove the default mongo
        for version in "4.2" "4.4"; do
          sudo rm "/etc/apt/sources.list.d/mongodb-org-${version}.list" || true
        done
        sudo DEBIAN_FRONTEND=noninteractive apt-get purge -y mongodb-org
        sudo DEBIAN_FRONTEND=noninteractive apt autoremove
        sudo rm -rf /usr/bin/mongo* || true

        make install-mongo-dependencies

    - name: "Remove Mongo Dependencies: windows-latest"
      if: (matrix.os == 'windows-latest')
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: uninstall mongodb mongodb.install -y --all-versions

    - name: "Install Mongo Dependencies: windows-latest"
      if: (matrix.os == 'windows-latest')
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: install mongodb.install --version=4.0.21 --allow-downgrade

    # GitHub runners already have preinstalled version of mongodb, but
    # we specifically need 4.0.21, otherwise our tests will not pass
    - name: "Install Mongo Dependencies: macOS-latest"
      if: (matrix.os == 'macOS-latest')
      run: |
        curl -o mongodb-4.0.21.tgz https://fastdl.mongodb.org/osx/mongodb-osx-ssl-x86_64-4.0.21.tgz
        tar xzvf mongodb-4.0.21.tgz
        sudo rm -rf /usr/local/mongodb
        sudo mkdir -p /usr/local/mongodb
        sudo mv mongodb-osx-x86_64-4.0.21/bin/* /usr/local/mongodb
        sudo mkdir -p /usr/local/bin
        sudo rm /usr/local/bin/mongod
        sudo ln -s /usr/local/mongodb/mongod /usr/local/bin/mongod
      shell: bash

    - name: "Test client: macOS-latest"
      if: (matrix.os == 'macOS-latest')
      run: |
        # There is a concurrency issue with macos setup for the "./cmd/juju/..." packages.
        # So we have to limit amount of used CPUs and therefore parallelization
        go test -v -p 1 ./cmd/juju/... -check.v
        go test -v  ./cmd/plugins/... -check.v
      shell: bash

    - name: "Test client: ubuntu-latest"
      if: (matrix.os == 'ubuntu-latest')
      run: |
        # Jenkins can perform the full jujud testing.
        go test -v ./cmd/juju/... -check.v -coverprofile=coverage.txt -covermode=atomic
        go test -v ./cmd/plugins/... -check.v
      shell: bash
