name: "Generate"
on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  generate:
    name: Check Generated Mocks
    runs-on: [self-hosted, linux, arm64, aws, xxlarge]

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Set up Go"
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: "Regenerate code"
        shell: bash
        run: |
          # Running go generate by itself is slow over a large codebase, where
          # all generate directives are dispersed over many files. Instead, the
          # following uses tools for locating and extracting the directives,
          # before piping them to go generate in parallel.
          #
          #  1. grep for go generate directive in the go files recursively.
          #  2. Grab the file name of each select file.
          #  3. Unique every file, so we only go generate the file once.
          #  4. Using xargs perform go generate in parallel.
          #
          git ls-files | xargs grep "//go:generate" --include '*.go' | awk -F : '{ print $1 }' | uniq | xargs -n 1 -P 8 -I% sh -c "go generate -x $(realpath %) || (echo FAIL: % && exit 1)"

      - name: "Check diff"
        shell: bash
        run: |
          git add -A
          if [[ -n $(git diff HEAD) ]]; then
            # Print the full diff for debugging purposes
            git diff HEAD
            echo "*****"
            echo "The following generated files have been modified:"
            git diff --name-status HEAD
            echo "Please regenerate these files and check in the changes."
            echo "*****"
            exit 1
          fi
