name: "Snapcraft"
on: [push, pull_request]
jobs:

  snap:
    name: linux-amd64
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:

    - name: Install Dependencies
      shell: bash
      run: |
        set -euxo pipefail
        sudo apt-get remove lxd lxd-client
        sudo snap install snapcraft --classic
        sudo snap install lxd
        sudo lxd waitready
        sudo lxd init --auto
        sudo chmod a+wr /var/snap/lxd/common/lxd/unix.socket
        echo "/snap/bin" >> $GITHUB_PATH

    - name: Checkout
      uses: actions/checkout@v2

    - name: Find required go version
      id: go-version
      if: env.RUN_TEST == 'RUN'
      run: |
        set -euxo pipefail
        echo "::set-output name=version::$(grep '^go ' go.mod | awk '{print $2}')"

    - name: Set up Go
      if: env.RUN_TEST == 'RUN'
      uses: actions/setup-go@v3
      with:
        go-version: ${{ steps.go-version.outputs.version }}
      id: go

    - name: Build snap
      shell: bash
      run: |
        set -euxo pipefail
        snapcraft --use-lxd

    - name: Install snap
      shell: bash
      run: |
        set -euxo pipefail
        sudo snap install *.snap --dangerous --classic

    - name: Test bootstrap
      shell: bash
      run: |
        set -euxo pipefail
        lxc network set lxdbr0 ipv6.address none
        juju bootstrap localhost
