name: "Static Analysis"
on:
  push:
    branches: ["[0-9].[0-9]+", "[0-9].[0-9]+.[0-9]+", main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  #   paths:
  #     DON'T SET - these are "required" so they need to run on every PR
  workflow_dispatch:

jobs:
  checks:
    name: Checks
    runs-on: [self-hosted, linux, arm64, aws, quad-xlarge]
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install Dependencies
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

          sudo add-apt-repository ppa:dqlite/dev -y --no-update
          sudo apt-get update
          sudo apt-get install -y \
            expect \
            libdqlite-dev \
            libsqlite3-dev \
            sqlite3
          go install golang.org/x/vuln/cmd/govulncheck@latest
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.6.1
          sudo curl -sSfL https://github.com/mvdan/sh/releases/download/v3.7.0/shfmt_v3.7.0_linux_$(go env GOARCH) -o /usr/bin/shfmt
          sudo chmod +x /usr/bin/shfmt

          go install github.com/google/go-licenses@latest

      - name: Download Go Dependencies
        run: go mod download

      - name: "Static Analysis"
        run: make static-analysis

  sql:
    name: SQL
    runs-on: [self-hosted, linux, x64, aws, large]
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.9"

      - name: Install SQLFluff
        run: "pip install sqlfluff==3.0.7"

      - name: Lint SQL
        run: "sqlfluff lint --config .github/.sqlfluff domain/schema/**/sql/*.sql"

  ddl-changes:
    name: Check DDL Changes
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout
        if: github.event.pull_request.base.ref != 'main'
        uses: actions/checkout@v3

      - name: Fetch base branch
        if: github.event.pull_request.base.ref != 'main'
        run: |
          git remote add upstream "${{ github.event.pull_request.base.repo.clone_url }}"
          git fetch --depth 1 upstream ${{ github.event.pull_request.base.ref }}

      - name: Analyse diff
        if: github.event.pull_request.base.ref != 'main'
        run: |
          changed_ddl=$(git diff --name-only upstream/${{ github.event.pull_request.base.ref }} |
            grep -E 'domain/schema/.+/sql/.*\.sql$' |
            grep -Ev '.*PATCH.sql' || true)

          if [ -n "$changed_ddl" ]; then
            echo "Detected changed to domain DDL files:"
            echo "$changed_ddl"
            echo
            echo "To patch the domain DDL between patch versions, please use a .PATCH.sql file"
            exit 1
          fi

  conventional-commits:
    name: Check conventional commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .github/commitlint.config.mjs
