name: "Unit Tests"
on:
  workflow_dispatch:
  workflow_call:

jobs:
  tests:
    name: "Unit Tests"
    runs-on: [self-hosted, linux, x64, aws, quad-xlarge]
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macOS-latest]

    steps:
    - name: "Checkout"
      uses: actions/checkout@v4

    - name: "Set up Go"
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
        cache: true

    - name: "Install musl & dqlite"
      shell: bash
      run: |
        sudo make MUSL_CROSS_COMPILE=0 musl-install dqlite-install

    - name: "Test"
      shell: bash
      run: |
        TEST_TIMEOUT="30m" TEST_ARGS="-coverprofile=profile.out -race" make cover-test

