name: "Update homebrew tap"
on:
  release:
    types: [published]
  schedule:
    - cron:  '0 */12 * * *'
jobs:
  update-brew-tap:
    if: github.repository_owner == 'juju'
    runs-on: ubuntu-latest
    steps:
      - name: Update Homebrew formulae
        uses: dawidd6/action-homebrew-bump-formula@b1f4659559bcc32ab942f0b0f851e3c856d05253 # master
        with:
          token: "${{ secrets.TOKEN }}"
          formula: juju
          livecheck: true
